body{
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: 100vh;
    width: 100%;
   
}

.ticket{
    background-color: #8dc7e8;
    width: 310px;
    min-width: 310px;
}

.bite-left{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(-50, -50);
}

.bite-right{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(-50, -50);
}

.line{
    padding: 1px;
    border-bottom: 1px dashed black;
    position: absolute;
    top: 52%;
    left: 0;
    
}

#ticketNumber{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 3rem;
}

#cost{
    font-size: 3.5rem;
}